<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Yoursaving </title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="layout/w3.css">
<link rel='shortcut icon' type='image/x-icon' href='layout/favicon.ico' />
<style>
    html,body    { font-family: "Liberation Serif", cursive, sans-serif; }
</style>
<script>
<!--
function ChangeCurrencyType () {
    var currencyDisplay     = document.getElementById('currencyType');
    var usedCurrency        = currencyDisplay.options[currencyDisplay.selectedIndex].text;
    var arrayOfVNDElement   = document.getElementsByTagName('b');
    for (var e in arrayOfVNDElement) {
        if (arrayOfVNDElement[e].id == 'vnd') {
            arrayOfVNDElement[e].innerHTML = usedCurrency;
        }
    }
//-->
}
</script>
