<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <b>This application may help you see your future fortune or legacy. </b>
                    <p>Welcome to the happier future!</p>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <b>You could improve this app by help us here <a href="https://github.com/sirhung1993/yoursaving/issues">
                        Submit the bug here!</a>
                    </b>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
